body{
	font-size: 16px;
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

/** Header**/
#header-nav{
	background-color: gray;
	border-radius: 0;
	border: 2px solid black;
}

.navbar-brand h1{
	margin-top:0;
	margin-bottom: 0; 
	text-align: left;
	font-size: 26px;
	color: black;
}


.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
} 


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */








/* HOME PAGE */
.container .jumbotron {
  
 color: black;
}

#menu-tile {
  height: 350px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  background-color: grey;
  color: black;
  padding: 3px 10px 10px 10px;
}


#menu-bigTile h1{
	text-align: center;
	color: black;
}

#menu-tile h3{
  color: black;
  background-position: center;
  text-align: center;
}


.menu-item-description {
	color: black;
}

#menu-tile {
	color: black;
}

/* END HOME PAGE */





/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Home Page */


  /* End Home Page */
}

/********** sm devices only **********/
@media (min-width: 768px) and (max-width: 992px){
	/* Home Page */


 #menu-tile{
  	height: 300px;
  }
  /* End Home Page */


}

/********** xs devices only **********/
@media (max-width: 768px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */



  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }


  #menu-tile {
  	height: 320px;
    width: 360px;
    margin: 0 auto 15px;
  }


}



